{% load bootstrap3 i18n %}
<script type="text/x-template" id="mymedia-album-template">
  <b-container fluid  v-show="modalState">
    <b-row >
      <b-col cols="2"> </b-col>
      <b-col cols="8"> </b-col>
      <b-col cols="2" class="text-right">
        <mymedia-toggle v-model="show_meta"> </mymedia-toggle>
      </b-col>
    </b-row>

    <b-row>
      <b-col :cols="main_cols"  style="transition: .4s;">

          <b-row id="slide-container">

            <b-col cols="2"
                :class="{'border-danger': value.current==media, 'border': value.current==media}"
                v-for="(media, position) in value.mediafiles"
                v-bind:mediafile-id="media.id"
                @dragstart="on_dragstart(position, $event)"
                @dragenter="on_dragenter(position, $event)"
                @dragend="on_drop($event)"
                draggable="true">

                <span class="far fa-trash-alt"
                  data-toggle="tooltip" data-placement="top"
                  title="{% trans 'Remove MediaFile' %}"
                  @click="removeFile(position)"></span>

                <b-img width="120px"
                  class="rounded"
                  @click="selectFile(position)"
                  class="media-move-handle"
                  style="padding-top: 5px" :src="media.data" >
                </b-img>

                <span> {[{ position }]}.{[{ media.title }]}
                </span>
            </b-col>

            <b-col cols="2">
              <b-button  variant="outline-primary" @click="$refs.gallery.$refs.dialog.show();"
                style="width:100%; height:100%; margin:5px;">Add...</b-button>
              <mymedia-gallery ref="gallery" @on-select="onImageSelected"></mymedia-gallery>
            </b-col>

          </b-row>
      </b-col>

      <b-col :cols="meta_cols" class="pl-2" v-if="show_meta"  style="transition: .4s;">
          <mymedia-mediafile
            @on-mediafile-updated="replaceCurrentMediaFile"
            v-model="value.current" v-if="value.current"></mymedia-mediafile>
      </b-col>

    </b-row>
  </b-container>
</script>
