{% load i18n %}
<script type="text/x-template" id="imagefile-gallery-template">

  <b-modal id="galleryDialog" ref="dialog" size="lg" title="Gallery"
    @hide="onHiding" @show="onShow">

    <gallery-dropload> </gallery-dropload>
    <b-container fluid class="p-4 bg-dark" style="overflow-x:scroll;white-space: nowrap;" @scroll="onScrolled">
        <b-col v-for="(i, index) in images">
          <b-img thumbnail :id="setId('thumb', i.id)" fluid
            :src="i.data" alt="Thumbnail" width="100"></b-img>

          <br>

          <b-checkbox
            @change="$emit('on-select', i, !i.selected)"
            v-model="i.selected" :id="setId('image-selector', i.id)">
          </b-checkbox>

          <b-popover :target="setId('thumb', i.id)" triggers="hover focus" >
             <template slot="title">Preview
              <b-img :src="i.data" fluid ></b-img>
            </template>
          </b-popover>

        </b-col>
    </b-container>

    <mymedia-dropload @on-mediafile-uploaed="onMediafileUpload"> </mymedia-dropload>
    <br> <br> <br> <br> {# to make scroll bar works.... #}

    <div slot="modal-footer" class="w-100">
    </div>

  </b-modal>
</script>
