<script type="text/x-template" id="imagefile-mediafile-template">
<b-container fluid>

    <b-row>
      <b-col class="mediafile-view p-1 border border-primary">
        <b-img fluid :src="image_url"></b-img>

        <input type="file" name="uploadingFile"
          ref="uploadingFile"
          v-if="isUploaderReady"
          :disabled="isSaving"
          @change="filesChange($event.target.name, $event.target.files); fileCount = $event.target.files.length"
          accept="image/*">
        </input>
      </b-col>
    </b-row>

    <b-row class="pt-1">
      <b-col cols="12">

        <b-list-group flush>

          <b-list-group-item v-if="uploadingFile">  {# Image File Uploader #}
            <b-alert show dismissible variant="primary" @dismissed="reset">
              <i class="fa fa-file-image-o" aria-hidden="true"></i>
              {[{ uploadingFile.name }]}
              <b-btn size="sm" @click="upload">Update</b-btn>
            </b-alert>
          </b-list-group-item>

          <b-list-group-item> {# Thumbnail selector #}
            <b-button-toolbar aria-label="Toolbar with button groups and dropdown menu">
               <b-button-group class="mx-1" size="sm">
                 <b-btn
                  :variant="switchVariant(null)"
                  @click="setCurrentImage(null)">画像</b-btn>
               </b-button-group>
               <b-button-group class="mx-1" size="sm">
                 <b-btn
                    :variant="switchVariant(name)"
                    @click="setCurrentImage(name)"
                    v-for="(data, name, index) in mediafile.thumbnails">{[{ name }]}</b-btn>
             </b-button-toolbar>
          </b-list-group-item>


          <b-list-group-item>
            <h4 class="alert-heading"> {[{ mediafile.title  }]}</h4>
          </b-list-group-item>

          <b-list-group-item>
            ID={[{ mediafile.id }]} : {[{ mediafile.filename}]}
          </b-list-group-item>

          <b-list-group-item>
            <span class="badge badge-pill badge-secondary" v-for="tag in mediafile.tags">{[{ tag }]}</span>
          </b-list-group-item>



        </b-list-group flush>

      </b-col>
    </b-row>


</b-container>
</script>
