{% extends 'mymedia/base.html' %}
{% load i18n mymediatags %}

{% block mymedia_content %}
<div style="height:100px"></div>
<div id=app>

  <b-container fluid >

    <b-card class="my-3 row">
        <b-button @click="addAlbum()">{% trans 'New Album' %}</b-button>
    </b-card>

    <b-card v-for="(album, index) in albums" class="my-3 row">

      <b-card-header header-bg-variant="secondary" border-variant="primary">

        <b-navbar toggleable="md" type="light" variant="faded">

          <b-navbar-brand href="#">
            <div
             v-show="!album.edit"
             @click="editTitle(album, index)">{[{ album.title }]}
             :{[{ album.id }]}
             <span v-show="!album.title">{% trans 'Click to Edit Title' %}</span>
            </div>

             <b-form flud v-show="album.edit">
               <b-input-group >
                 <b-form-input type="text"
                 :ref="getRef('edit-title', index)"
                  @change="saveTitle(album, index)"
                v-model="album.title"></b-form-input>
                <b-input-group-addon @click="saveTitle(album, index)">
                  <strong class="text-danger fa fa-times"></strong> </b-input-group-addon>
              </b-input-group>
            </b-form>

          </b-navbar-brand>

          <b-navbar-nav class="ml-auto">
              <b-nav-item href="#" right @click="showGallery(album)"> <em class="fa fa-plus"></em> </b-nav-item>
              <b-nav-item href="#" right @click="updateAlbum(album)"> <em class="fa fa-floppy-o"></em> </b-nav-item>
              <b-nav-item href="#" right @click="deleteAlbum(album)"> <em class="fa fa-trash"></em> </b-nav-item>
          </b-navbar-nav>
        </b-navbar>

      </b-card-header>

      <b-card-body>
          <mymedia-album
            :modal-state="true" v-model="album">
          </mymedia-album>
      </b-card-body>

    </b-card> {# v-for album #}
  </b-container>

<mymedia-gallery ref="gallery"
  @on-upload="onShowUploader"
  @on-select="onImageSelected"></mymedia-gallery> {# Gallery.modalState にバインド #}
</div>


{% endblock %}


{% block style %}{{ block.super }}
<style>

{% include 'mymedia/imagefile/vue/gallery.css' %}
{% include 'mymedia/imagefile/vue/mediafile.css' %}

</style>

<style lang="scss">
{% include 'mymedia/imagefile/vue/dropload.scss' %}
</style>
{% endblock %}

{% block mymedia_script %}
{% get_csrftoken as token %}   {# CSRF TOKEN #}
{% include 'mymedia/imagefile/vue/mediafile.html' %}
{% include 'mymedia/imagefile/vue/dropload.html' %}
{% include 'mymedia/imagefile/vue/gallery.html' %}
{% include 'mymedia/imagefile/vue/album.html' %}


<script>
Vue.options.delimiters = ['{[{', '}]}'];        // Django テンプレートとバッティングしないように変更
{% include 'mymedia/imagefile/vue/api.js' %}
{% include 'mymedia/imagefile/vue/mediafile.js' %}
{% include 'mymedia/imagefile/vue/dropload.js' %}
{% include 'mymedia/imagefile/vue/gallery.js' %}
{% include 'mymedia/imagefile/vue/album.js' %}
{% include 'mymedia/album/index.js' %}
</script>
{% endblock %}
