{# vue app #}
{% load i18n staticfiles %}
<div class="modal fade" id="imagefile-picker" tabindex="-1" role="dialog" aria-labelledby="Image File Picker" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">

        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#main_area">Gallery</a></li>
          <li><a data-toggle="tab" href="#selection_area">Selection</a></li>
        </ul>

        <div class="tab-content">
        <div id="main_area" class="tab-pane fade in active">
          <!-- Slider -->
          <div class="row">

              <div class="col-sm-6" id="slider-thumbs">
                  <!-- Bottom switcher of slider -->
                  <ul class="hide-bullets">
                      {# vue template #}
                      <gallery-thumbnail v-for="(i, index) in images.results" v-bind:image="i" v-bind:index="index"></gallery-thumbnail>
                  </ul>
              </div>

              <div class="col-sm-6">
                  <div class="col-xs-12" id="slider">
                      <!-- Top part of the slider -->
                      <div class="row">
                          <div class="col-sm-12" id="carousel-bounding-box">
                              <div class="carousel slide" id="myCarousel">
                                  <!-- Carousel items -->
                                  <div class="carousel-inner">
                                      {# vue template #}
                                      <gallery-carousel
                                        v-for="(i, index) in images.results"
                                        v-bind:image="i" v-bind:index="index"
                                        @on-select="select_image"
                                        @on-edit="edit_image"></gallery-carousel>
                                  </div>
                                  <!-- Carousel nav -->
                                  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                      <span class="glyphicon glyphicon-chevron-left"></span>
                                  </a>
                                  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                      <span class="glyphicon glyphicon-chevron-right"></span>
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
            <div class="col-sm-8">
              <button class="btn btn-primary" v-if="images.previous" v-on:click="get_next_page(-1)">Previous</button>
              <button class="btn" v-bind:class="buttonClass(i)"  v-for="i in images.page_range" v-on:click="get_images_page(i)"> {[{ i}]} </button>
              <button class="btn btn-primary" v-if="images.next" v-on:click="get_next_page(1)">Next</button>
            </div>

            <div class="col-sm-4">
              <div class="btn-group" role="group" aria-label="Basic example">
                <button class="btn btn-primary" data-toggle="modal" data-target="#imagefile-uploader">
                  {% trans 'Upload...' %}</button>
                <!--
                <button class="btn btn-primary" v-on:click="select_image">{% trans 'Select' %}</button>
                -->
              </div>
            </div>
          </div>
          <!--/Slider-->
          </div><!-- /#main_area -->

          <div id="selection_area" class="tab-pane">
            <ul class="hide-bullets">
                <gallery-selection
                  ref="gallery_selection"
                  @on-select="select_image"
                  v-for="i in selected_list" v-bind:image="i" >
                </gallery-selection>
            </ul>
            <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> {# todo... #}
          </div>

        </div><!--/.tab-content -->
      </div><!--/.modal-body-->
    </div><!-- /.modal-content -->
  </div>
</div>


<div class="modal fade" id="imagefile-uploader" tabindex="-1" role="dialog" aria-labelledby="Image File Uploader" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div id="uploader_area">
          <gallery-uploader ref="gallery_uploader" v-bind:instance="instance" @on-reset-form="get_images_page"></gallery-uploader>
        </div><!-- /#main_area -->
      </div><!--/.modal-body-->
    </div><!-- /.modal-content -->
  </div>
</div>
