{% load bootstrap3 i18n %}
<script type="text/x-template" id="gallery-slide-template">
  <div class="container" v-show="visible" >
    <div class="row">
      <div class="col-md-12" id="slide-container" v-if="mediafiles.length > 0">
          <div class="col-md-2" v-for="(media, position) in mediafiles" v-bind:mediafile-id="media.id"
            @dragstart="on_dragstart(position, $event)"
            @dragenter="on_dragenter(position, $event)"
            @dragend="on_drop($event)"
            draggable="true">

            <span class="btn btn-xs fa fa-trash"
              data-toggle="tooltip" data-placement="top" title="{% trans 'Remove MediaFile' %}"
              @click="removeFile(position)"></span>

            <img class="img-responsive media-move-handle" style="padding-top: 5px" v-bind:src="media.data" />
          </div>
      </div>
      <div class="col-md-12" id="slide-container" v-else>
        {% trans 'No MediaFIle is selected' %}
      </div>
    </div>
  </div>
</script>
